<html>
    <head>
        <title>Audio Viz</title>
        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="images"></div>
    </body>
    <script>
        var imagePaths = [];

        setInterval(function() {
        $.get("/image", function(data) {
            if (imagePaths.indexOf(data.path) == -1) {
                imagePaths.push(data.path)
                $(".images").append('<img src="../' + data.path + '"/>')
                console.log(imagePaths);
            }
            }, "json" );
        }, 1000); 
    </script>
</html>