<html>
    <head>
        <title>Audio Viz</title>
        <script type=text/javascript src="{{
        url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

        <style>
            html body {
                background: #000;
                margin: 0 0;
                padding: 0 0;
            }
            
            img {
                margin: 10px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="images"></div>
    </body>
    <script>
        var imagePaths = [];

        setInterval(function() {
        $.get("/image", function(data) {
            if (imagePaths.indexOf(data.path) == -1) {
                imagePaths.push(data.path)
                $(".images").append('<img src="../' + data.path + '"/>')
                console.log(imagePaths);
                 $('html, body').animate({
                    scrollTop: $(document).height()
                }, 500);
            }
            }, "json" );
        }, 1000); 
    </script>
</html>